<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.charse"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="registryCenter" class="com.charse.register.zookeeper.ZookeeperRegistry">
        <constructor-arg name="zkAddress" value="127.0.0.1:2181"/>
    </bean>

    <bean id="serviceRegistryBean" class="com.charse.client.proxy.ServiceRegistryBean">
        <!--entry key 是服务端 @provider 注解中的value  entry value 是本地引用服务的对应接口-->
        <constructor-arg name="refService">
            <map>
                <entry key="HelloWorld" value="com.charse.test.api.HelloWorld"/>
            </map>
        </constructor-arg>
        <constructor-arg name="registryCenter" ref="registryCenter"/>
    </bean>
</beans>